@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body, h3 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header, aside {
  background-color: rgba(253, 216, 53, 0.5);
}

header {
  padding: 2em;
}

h1, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1, .tagline {
  color: #E65100;
}

section {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: .2em;
}

.nummer {
  background-color: #F57F17;
  color: #FFF;
  font-size: 3em;
  width: 1.2em;
  text-align: right;
  padding: .2em;
}

article {
  padding: 1em;
}

section img {
  max-width: 100%;
  width: 500px;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside h3 {
  background-color: #F57F17;
  padding: 2em;
  color: #FFF;
}

aside a {
  text-decoration: none;
  color: #BF360C;
  display: block;
  padding: 2em;
}

aside a:hover {
  background-color: #F57F17;
  color: #FFF;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 2em;
}

@media screen and (min-width: 760px) {
  .plaatje {
    display: block;
    background-image: url('roken.jpg');
    background-size: cover;
    background-position: center center;
  }

  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "kop kop"
      "t1 t2"
      "t3 t4"
      "t5 t6"
      "afb t6"
      "afb t7"
      "aside t8"
      "aside t9"
      "aside t10"
      "voet voet";
  }

  header {
    grid-area: kop;
  }

  .kauwgom {
    grid-area: t1;
  }

  .stressbal {
    grid-area: t2;
  }

  .eisen {
    grid-area: t3;
  }

  .nicotine {
    grid-area: t4;
  }

  .poetsen {
    grid-area: t5;
  }

  .alcohol {
    grid-area: t6;
  }

  .doelstellingen {
    grid-area: t7;
  }

  .sporten {
    grid-area: t8;
  }

  .elimineer {
    grid-area: t9;
  }

  .trek {
    grid-area: t10;
  }

  .plaatje {
    grid-area: afb;
  }

  aside {
    grid-area: aside;
  }

  footer {
    grid-area: voet;
  }

  .afvallen {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .afvallen h3 {
    grid-column: span 2;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}
@media screen and (min-width: 1000px) {
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "kop kop kop"
      "t1 t2 afb"
      "t3 t4 afb"
      "t5 t6 aside"
      "t7 t8 aside"
      "t9 t10 aside"
      "voet voet aside";
  }
}
